* {
  padding: 0;
  margin: 0;
}

/**body**/
body {
  background-color: black;
  font-family: "martel sans";
}

/**main section and bg img**/
.main {
  background-image: url("assets/images/bg.jpg");
  height: 644px;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  background-size: max(1200px, 100vw);
}

/**shadow box for main section**/
.main .box {
  background-color: black;
  opacity: 0.69;
  height: 644px;
  width: 100%;
  position: absolute;
  top: 0;
}

/**navbar**/
nav {
  max-width: 60vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

/**hero section**/
.hero {
  font-family: "Martel Sans";
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;
}

.hero> :nth-child(1) {
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero> :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero> :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

/**for a line break**/
.sepration {
  height: 7px;
  background-color: rgb(72, 72, 72);
  position: relative;
  z-index: 20;
}

/**buttons in hero section**/
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

/**language button**/
.btn {
  padding: 3px 8px;
  font-weight: 400;
  background-color: rgba(23, 23, 23, 0.2);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

/**sign-up button**/
.btn-red {
  background-color: red;
  color: white;
  padding: 3px 8px;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
  border: 0.5px solid black;
}

/**get started button**/
.btn-red-sm {
  background-color: red;
  color: white;
  padding: 3px 8px;
  font-weight: 400;
  border-radius: 4px;
  font-size: 20px;
  border: 0.5px solid black;
  cursor: pointer;
}

/**email address input button**/
.main input {
  background-color: rgba(23, 23, 23, 0.2);
  color: white;
  font-size: 12px;
  padding: 7px 101px 8px 14px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

/**box-text**/
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 70vw;
  margin: auto;
  justify-content: center;
}

/**box-img**/
.secImg {
  position: relative;
}

/**box-img**/
.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}

/**box-video**/
.secImg video {
  position: absolute;
  top: 100px;
  left: 5px;
  right: 0;
  width: 500px;
  overflow-x: none;
}

section.first>div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first>div :nth-child(1) {
  font-size: 48px;
  font-weight: 900;
}

section.first>div :nth-child(2) {
  font-size: 20px;
}

/**faq heading**/
.faq h2 {
  text-align: center;
  font-size: 48px;
}

/**faq section**/
.faq {
  background-color: black;
  color: white;
  padding: 34px;
}

/**faq boxes**/
.faq-box {
  transition: all 1s ease-out;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 60vw;
  margin: 34px auto;
  cursor: pointer;
}

/**hover effect on faq box**/
.faq-box:hover {
  background-color: #414141;
}

/**footer section**/
footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 60px;
}

footer .questions {
  padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

/**media queries for responsive design**/
@media screen and (max-width: 1300px) {
  nav {
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
    gap: 25px;
  }

  .secImg img {
    width: 315px;
  }

  .secImg video {
    width: 275px;
    top: 75px;
    left: 5px;
    position: absolute;
  }

  .hero> :nth-child(1) {
    font-size: 32px;
  }

  .hero> :nth-child(2) {
    font-size: 18px;
  }

  .hero> :nth-child(3) {
    font-size: 18px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .faq h2 {
    font-size: 32px;
  }

  footer {
    max-width: 90vw;
  }

  .footer-item {
    align-items: center;
  }

  span {
    text-align: center;
  }

  section.first>div :nth-child(1) {
    font-size: 32px;
  }

  section.first>div :nth-child(2) {
    font-size: 18px;
    text-align: center;
  }

  nav img {
    width: 90px;
  }

}

/**media queries for footer**/
@media screen and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

  .footer a {
    font-size: 14px;
    color: white;
    text-decoration: none;
  }

  .footer-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

